@import "../../../general/fonts.scss";

.textFieldComponent {
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
}

.textFieldComponent label {
    font-family: $all-font-family;
    margin-bottom: 10px;
}

.textField {
    font-family: $all-font-family;
    font-size: 1em;
    border-radius: 5px;
    border: 2px solid #3c3c3c;
    padding: 0.9em 0.9em;
    width: auto;
}

.textField::placeholder {
    font-family: $all-font-family;
}
