@import "../../../general/fonts.scss";

.repeatCount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.repeatCount p {
    font-size: 1em;
}

.repeatCount input {
    font-size: 1em;
    font-family: $all-font-family;
    border-radius: 5px;
    background: none;
    border: 2px solid #3c3c3c;
    padding: 0.9em 0.9em;
}