@import "../../general/colors.scss";

.notification {
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 0;
    margin: 30px;
}

.none {
    display: none;
}

.notificationContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 40px;
    text-align: left;
    border-radius: 5px;
    max-width: 350px;
}

.notificationContentTitle {
    font-size: 1.1em;
    font-weight: 600;
    font-variant: all-petite-caps;
    margin: 0;
    margin-bottom: 5px;
    font-variant: full-width;
}

.notificationContentDescription {
    font-size: 0.9em;
    margin: 0;
}

.visible {
    display: flex;
    animation: fadeInFromNone 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

.closeContent {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    margin: 0.5em;
}

.modalWindowClose {
    width: 1.5em;
    cursor: pointer;
}

.hidden {
    animation: fadeOutFromBlock 0.5s ease-in-out;
}

.info {
    background-color: $success-color;
}

.success {
    background-color: $alt-foreground-color;
}

.warning {
    background-color: $warning-color;
}

.error {
    background-color: $error-color;
}

@keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutFromBlock {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}
