@import '../../general/colors.scss';

.notification {
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 0;
  margin: 30px;
}

.none {
    display: none;
}

.notificationContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 40px;
  text-align: center;
  border-radius: 10px;
  max-width: 350px;
}

.notificationContentTitle {
  font-size: 1.3em;
  font-variant: all-petite-caps;
  margin: 0;
  font-variant: full-width;
  text-decoration: underline;
}

.notificationContentDescription {
  font-size: 1em;
  margin: 0;
}

.visible {
  display: flex;
  animation: fadeInFromNone 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.hidden {
    animation: fadeOutFromBlock 0.5s ease-in-out;
}

.info {
  background-color: $alt-foreground-color;
}

.success {
  background-color: $success-color;
}

.warning {
  background-color: $warning-color;
}

.error {
  background-color: $error-color;
}


@keyframes fadeInFromNone {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeOutFromBlock {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      display: none;
    }
  }