@import '../../../../general/root.scss';

.security-section {
    width: 70%;
    min-height: 50vh;
    border-radius: 15px;
    padding: 0 10px;
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10vh;
}

.security-change-section {
    display: flex;
    flex-direction: column;
}

.security-section-content {
    display: flex;
    justify-content: space-around;
}

.security-data-title {
    font-size: 1.5em;
}

.non-sensitive-data-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.non-sensitive-data-card {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    padding: 15px 10px;
    margin: 10px 0;
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.non-sensitive-data-card p {
    font-size: 1em;
    margin: 0;
}

.non-sensitive-data-card-content {
    color: #4d4d4d;
}

.danger-btn {
    margin: 10px 0;
}


@media screen and (max-width: 950px) {
    .security-section {
        margin-top: 5%;
        flex-direction: column;
        width: 100%;
    }

    .security-section-content {
        flex-direction: column;
        margin: 0 10vw;
    }
}