@import '../../../../general/root.scss';

.securitySection {
    width: 70%;
    min-height: 50vh;
    border-radius: 15px;
    padding: 0 10px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10vh;
}

.securityChangeSection {
    display: flex;
    flex-direction: column;
}

.securitySectionContent {
    display: flex;
    justify-content: space-around;
}

.securityDataTitle {
    font-size: 1.5em;
}

.nonSensitiveDataContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nonSensitiveDataCard {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    padding: 15px 10px;
    margin: 10px 0;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.nonSensitiveDataCard p {
    font-size: 1em;
    margin: 0;
}

.nonSensitiveDataCardContent {
    color: #4d4d4d;
}

.danger-btn {
    margin: 10px 0;
}


@media screen and (max-width: 950px) {
    .securitySection {
        margin-top: 5%;
        flex-direction: column;
        width: 100%;
    }

    .securitySectionContent {
        flex-direction: column;
        margin: 0 10vw;
    }
}