.statistics-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    flex-wrap: wrap;
    border-radius: 15px;
    padding: 0 10px;
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10vh;
}

.statistics-summary-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
}

.statistics-line-section {
    width: 35%;
    margin: 50px 0;
}
.statistics-data-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 15px;
    padding: 15px 10px;
    margin: 10px 0;
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.statistics-data-card p {
    font-size: 1em;
    margin: 0;
}

.statistics-data-card-content {
    color: #4d4d4d;
}

@media screen and (max-width: 950px) {
    .statistics-section {
        margin-top: 5%;
        flex-direction: column;
        width: 100%;
    }

    .statistics-line-section {
        width: 100%;
        min-height: 350px;
        margin: 50px 0;
    }

    .statistics-summary-section {
        width: 90%;
    }
}