.statisticsSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    flex-wrap: wrap;
    border-radius: 15px;
    padding: 0 10px;
    margin-bottom: 10vh;
    background-color: #FFFFFF;
}

.statisticsSummarySection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
}

.statisticsLineSection {
    width: 35%;
    margin: 50px 0;
}
.statisticsDataCard {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 15px;
    padding: 15px 10px;
    margin: 10px 0;
    background-color: #F9F9F9;
}

.statisticsDataCard p {
    font-size: 1em;
    margin: 0;
}

.statisticsDataCardContent {
    color: #4d4d4d;
}

@media screen and (max-width: 950px) {
    .statisticsSection {
        margin-top: 5%;
        flex-direction: column;
        width: 100%;
    }

    .statisticsLineSection {
        width: 100%;
        min-height: 350px;
        margin: 50px 0;
    }

    .statisticsSummarySection {
        width: 90%;
    }
}