// common color
$link: #000000;
$link-alternative: #00a3ff;
$background-white-color: #ffffff;
$foreground-color: #000000;
$background-dark-color: #000000;
$alt-white-foreground-color: #ffffff;
$alt-dark-foreground-color: #000000;
$alt-foreground-color: #00a3ff;
$error-color: #fc5959;
$success-color: #95ff95;
$warning-color: #fff148;