// import fonts
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imprima&family=Inconsolata:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

// font families
$default-font-family: "Inconsolata";
$alt-font-family: "Imprima";
$ru-font-family: "IBM Plex Mono";
$all-font-family: "IBM Plex Mono";