.today-statistics-section {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 20vh;
}

.today-statistics-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.today-statistics-card-title {
    font-size: 1em;
    color: #7e7d7d;
}

.today-statistics-card-content {
    font-size: 3em;
}