@import 'src/components/pages/home/home.component.scss';

.wrapper-profile-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10%;
}

.profile-general-section {
    display: flex;
    width: 70%;
    border-radius: 15px;
    padding: 0 10px;
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-navigation {
    display: flex;
    flex-direction: column;
    width: 17vw;
    border-radius: 15px;
    padding: 0 10px;
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-navigation-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    border-bottom: 2px solid #5a5a5a;
}

.profile-navigation-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}

.profile-navigation-header p {
    font-size: 1em;
    margin-left: 5px;
}

.profile-navigation-content-submenu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border-bottom: 1px solid #000000;
    user-select: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.profile-navigation-content-submenu p {
    font-size: 1.2em;
}

.profile-navigation-content-submenu:hover {
    border-bottom-color: $alt-foreground-color;
}

.without-line {
    border: none;
}

.profile-general-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-info {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-info-name {
    margin: 0;
}

.profile-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-description {
    width: 200px; 
    word-break: break-all;
    color: #4d4d4d;
    font-size: 1.2em;
}

.profile-data {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.profile-data-card {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    padding: 15px 10px;
    margin: 10px 0;
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-data-card p {
    font-size: 1em;
    margin: 0;
}

.profile-data-card-content {
    color: #4d4d4d;
}


#profile-photo {
	display: none;
}
label {
	cursor: pointer;
}
label img {
	width: 10em;
	height: 10em;
	border-radius: 50%;
}

@media screen and (max-width: 1280px) {
    .profile-navigation {
        width: 20vw;
    }
}

@media screen and (max-width: 950px) {
    .wrapper-profile-section {
        flex-direction: column;
        align-items: center;
    }

    .profile-navigation {
        width: 100%;
        margin: 0 20px;
    }

    .profile-general-section {
        margin-top: 5%;
        flex-direction: column;
        width: 100%;
    }

    .profile-data {
        width: 80%;
    }
}