@import "../../general/root.scss";

.homeContent {
    margin-top: 70px;
}

.contentMainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    border-bottom: 1px solid #000000;
}

.contentMainSection h1 {
    font-weight: 300;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logoMain {
    font-family: $alt-font-family;
    color: $foreground-color;
    font-size: $default-font-size;
}

.logoSub {
    font-family: $alt-font-family;
    color: $alt-foreground-color;
    // font-weight: bold;
    font-size: $default-font-size - 0.3em;
    margin-top: -28px;
}

.logoBigSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoBigSection .logoMain {
    font-size: 5em;
    color: $alt-white-foreground-color;
}

.logoBigSection .logoSub {
    font-size: 3em;
    margin-top: -2em;
    color: $foreground-color;
}

.logoBigSection img {
    position: absolute;
    z-index: -1;
}

.logoBigSection img {
    position: absolute;
    z-index: -1;
}

.secondarySectionRouteP {
    text-align: left;
    font-size: 1.1em;
}

.contentByeSection {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 10em;
}

.contentByeSection h1 {
    font-weight: 300;
}

.contentByeSection b {
    color: $alt-foreground-color;
}

@media screen and (max-width: 700px) {
    .logoBigSection img {
        width: 20em;
    }
}

@media screen and (max-width: 500px) {
    .contentMainSection h1 {
        font-size: 1.5em;
    }
}
