@import "../../common/root.scss";

.content {
    margin-top: 114px;
}

.content-main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    border-bottom: 1px solid #000000;
}

.content-main-section .default-button
{
    margin-top: 2em;
}

.logo-big-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-big-section .logo-main {
    font-size: 5em;
    color: $alt-white-foreground-color;
}

.logo-big-section .logo-sub {
    font-size: 3em;
    margin-top: -2em;
    color: $foreground-color;
}

.logo-big-section img {
    position: absolute;
    z-index: -1;
}


.logo-big-section img {
    position: absolute;
    z-index: -1;
    width: 20em;
}
