.info-block-left-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 50%;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1em 0;
    margin: 2em 0;
    min-height: 218px;
}

.info-block-right-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    text-align: right;
    justify-content: space-around;
    width: 50%;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1em 0;
    min-height: 218px;
}

.info-block-first-section {
    width: 65%;
}

.info-block-first-section-head {
    border-bottom: 1px solid black;
}

.info-block-first-section-head p {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.info-block-first-section-content {
    margin-top: 0.15em;
    font-size: 1.2em;
}

.info-block-buttons {
    display: flex;
    font-size: 0.8em;
}

.info-block-buttons button {
    margin-right: 10px;
}

.info-block-section {
    display: flex;
}

.plug {
    width: 50%;
}

@media screen and (max-width: 1000px) {
    .plug {
        width: 0;
    }

    .info-block-left-section {
        width: 100%;
    }

    .info-block-right-section {
        width: 100%;
    }
}

@media screen and (max-width: 580px) {
    .info-block-first-section {
        width: 80%;
    }
    .info-block-left-section {
        padding: 0.5em 0;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    .info-block-right-section {
        padding: 0.5em 0;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    .info-block-buttons {
        flex-direction: column;
    }

    .info-block-buttons button {
        margin-top: 10px;
        margin-right: 0;
        padding: 1em 0.5em;
    }
}
