@import "../../general/fonts.scss";

.dictionaryContentSection {
    display: flex;
    flex-wrap: wrap;
}

.wordCardNative {
    font-size: 2vh;
    border-radius: 1px solid #000000;
    margin: 0;
    pointer-events: none;
    user-select: none;
}

.wordCardTranslated {
    font-size: 1.8vh;
    color: #7e7d7d;
    margin: 0;
    pointer-events: none;
    user-select: none;
}

.wordCardLanguage {
    font-size: 1vw;
    color: #7e7d7d;
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
    pointer-events: none;
    user-select: none;
}

.wordCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px 100px;
    margin: 10px 10px;
    position: relative;
    background-color: #FFFFFF;
    cursor: pointer;
}

.dictionaryFilter {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.dictionaryFilterSection {
    display: flex;
    justify-content: flex-end;
}

.filters {
    display: flex;
}

.emptyDict {
    font-size: 2em;
    color: #7e7d7d;
    text-align: center;
    font-family: $all-font-family;
}

@media screen and (max-width: 650px) {
    .filters {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dictionaryContentSection {
        flex-direction: column;
    }
}