@import "../../../common/root.scss";

.footer {
    margin-top: 5em;
    background: $background-dark-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: $margin-desktop;
    padding-right: $margin-desktop;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.footer-navigation {
    color: $alt-white-foreground-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-navigation-main-p {
    font-size: 2em;
    margin-bottom: 0;
    color: $alt-white-foreground-color;
}

.footer-navigation-ul {
    padding-left: 20px;
    list-style-type: none;
    padding-left: 0;
}

.footer-navigation-li-a {
    color: $alt-white-foreground-color;
    font-family: $all-font-family;
}

.footer-last-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.footer-logo-main {
    font-family: $alt-font-family;
    color: $alt-white-foreground-color;
    font-size: $default-font-size;
}

.footer-logo-sub {
    font-family: $alt-font-family;
    color: $alt-foreground-color;
    font-size: $default-font-size;
    margin-top: -28px;
}

.footer-copyright {
    font-family: $all-font-family;
    color: #a2a2a2;
    font-size: 1em;
}

@media screen and (max-width: 770px)
{
    .footer {
        flex-direction: column;
        align-items: center;
        padding-left: 25px;
        padding-right: 25px;
    }

    .footer-navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-navigation-ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-navigation-li {
        margin-top: 10px;
    }

    .footer-logo-section {
        margin: 0;
        align-items: center;
    }

    .footer-logo-main {
        margin-top: 0.1em;
        font-size: 3em;
    }

    .footer-logo-sub {
        font-size: 2.5em;
        margin-top: -48px;
        margin-bottom: 0.1em;
    }
}