@import "../../../common/root.scss";

.unauthorized-header {
  background-color: $background-white-color;
  border-bottom: 1px solid #000000;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.hamburger-component {
  display: none;
  opacity: 0;
}

.header-component {
  margin-left: $margin-desktop;
  margin-right: $margin-desktop;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.hamburger-button {
  display: none;
}

.logo-section {
  display: flex;
  justify-content: flex-start;
  width: 20%;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo-main {
  font-family: $alt-font-family;
  color: $foreground-color;
  font-size: $default-font-size;
}

.logo-sub {
  font-family: $alt-font-family;
  color: $alt-foreground-color;
  // font-weight: bold;
  font-size: $default-font-size - 0.3em;
  margin-top: -28px;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
}

.header-link {
  color: $link;
  font-family: $ru-font-family;
  font-size: $default-font-ru-size;
  margin: 15px;
  transition: 0.15s ease-in;
}

.auth {
  display: flex;
  justify-content: flex-end;
  width: 20%;
}

.auth-link {
  color: $link;
  font-family: $ru-font-family;
  font-size: $default-font-ru-size;
  margin: 10px;
}

.languages {
  width: 10px;
}

.header-hamburger-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/* Rectangle 11 */
@media (max-width: 1280px) {
  .header-component {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 1080px) {
  .header-link {
    font-size: 1.1em;
  }
}

@media (max-width: 800px) {
  .hamburger-button {
    display: block;
  }

  .hamburger-component {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: absolute;
    margin-top: 0.1em;
    background: $background-white-color;
    height: 100vh;
    opacity: 1;
    animation: fadeInFromNone 0.3s ease-in-out;
  }

  .header-hamburger-navigation {
    margin-top: 3em;
  }

  .header-hamburger-navigation a {
    font-size: 1.5em;
  }

  .header-navigation {
    display: none;
  }

  .auth {
    display: none;
  }


.modal-sign-in-header {
    font-size: 1.2em;
    text-align: center;
    margin: 0;
  }
  
  .modal-sign-in-header p {
    text-align: center;
    margin: 0;
  }
  
  .modal-sign-in-input {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .modal-sign-in-inputs label {
    font-family: $all-font-family;
    margin-bottom: 5px;
  }
  
  .modal-sign-in-input {
    margin-bottom: 5px;
  }
  
  .modal-sign-in-input input {
    font-family: $all-font-family;
    font-size: 0.7em;
    border-radius: 5px;
    border: 2px solid #3c3c3c;
    padding: 1em 1em;
    width: auto;
  }
  
  .modal-sign-in-input input::placeholder {
    font-family: $all-font-family;
  }
  
  .modal-sign-in-buttons {
      text-align: center;
      font-size: 0.7em;
  }
  
  .modal-sign-in-remember-me {
      text-align: center;
      margin: 10px 0;
  }
  
  .modal-sign-in-remember-me label {
  
      font-family: $all-font-family;
  }
  
  .modal-sign-in-forgot-password p {
      font-size: 0.7em;
  }
  
  .modal-sign-in-recovery-link {
      font-family: $all-font-family;
      margin-left: 10px;
      font-size: 0.7em;
      color: $alt-foreground-color;
  }

  @keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
    }

    1% {
      display: flex;
      opacity: 0;
    }

    100% {
      display: flex;
      opacity: 1;
    }
  }
}
