.profileGeneralSection {
    display: flex;
    width: 70%;
    justify-content: space-between;
    border-radius: 15px;
    padding: 0 10px;
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.profileInfo {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profileInfoName {
    margin: 0;
}

.profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profileDescription {
    width: 200px; 
    word-break: break-all;
    color: #4d4d4d;
    font-size: 1.2em;
}

.profileData {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.profileDataCard {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    padding: 15px 10px;
    margin: 10px 0;
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.profileDataCard p {
    font-size: 1em;
    margin: 0;
}

.profileDataCardContent {
    color: #4d4d4d;
}


#profilePhoto {
	display: none;
}
label {
	cursor: pointer;
}
label img {
	width: 10em;
	height: 10em;
	border-radius: 50%;
}

@media screen and (max-width: 950px) {
    .profileGeneralSection {
        margin-top: 5%;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .profileData {
        width: 80%;
    }
}