// import fonts
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imprima&family=Inconsolata:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

// common color
$link: #000000;
$link-alternative: #00a3ff;
$background-white-color: #ffffff;
$foreground-color: #000000;
$background-dark-color: #000000;
$alt-white-foreground-color: #ffffff;
$alt-foreground-color: #00a3ff;
$error-color: #fc5959;
$success-color: #95ff95;
$warning-color: #fff148;

// font families
$default-font-family: "Inconsolata";
$alt-font-family: "Imprima";
$ru-font-family: "IBM Plex Mono";
$all-font-family: "IBM Plex Mono";

// sizes
$default-font-size: 1.8em;
$default-font-ru-size: 1.6em;
$default-h2-font-size: 3em;
$default-button-text-size: 1.3em;

// margins
$margin-desktop: 100px;
$margin-landscape: 80px;
$margin-mobile: 50px;

// buttons
.default-button {
    border-radius: 5px;
    border-style: none;
    padding: 0.5em 2.5em;
    font-family: $ru-font-family;
    background-color: $alt-foreground-color;
    color: #FFFFFF;
    font-size: $default-button-text-size;
    transition: 0.2s ease-in;
    cursor: pointer;
}

.default-button:hover {
    background-color: #F1F1F1;
    color: $alt-foreground-color;
}

// root
body {
    margin: 0;
    box-sizing: border-box;
    background-color: $background-white-color;
}

p{
    font-family: $all-font-family;
    font-size: $default-font-size;
    color: $foreground-color;
}

h1, h2, h3, h4, h5  {
    font-family: $all-font-family;
}

a {
    color: $link;
    font-family: $default-font-family;
    font-weight: 330;
    text-decoration: none;
    transition: 0.15s ease-in;
}

a:hover {   
    color: $link-alternative;
}