@import "../../../general/fonts.scss";

.selectFieldComponent {
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
}

.selectFieldComponent label {
    font-family: $all-font-family;
    margin-bottom: 10px;
}

.selectField {
    font-family: $all-font-family;
    font-size: 1em;
    border-radius: 5px;
    border: 2px solid #3c3c3c;
    padding: 0.9em 0.9em;
    width: auto;
}