.modal {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000bd;
  animation: fadeInFromNone 0.3s ease-in-out;
}

.modal-window {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ffffff;
  border-radius: 10px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big {
  margin: 12vh 15vw;
}

.average {
  margin: 22vh 35vw;
}

.small {
  margin: 23vh 40vw;
}

.modal-window-navigation {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  margin: 0.5em;
}

.modal-window-close {
  width: 1.5em;
  cursor: pointer;
}

.closed {
  display: none;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}

@media screen and (max-width: 1400px) {
  .average {
    margin: 22vh 25vw;
  }

  .small {
    margin: 23vh 30vw;
  }

  .big {
    margin: 12vh 5vw;
  }
}

@media screen and (max-width: 700px) {
  .average {
    margin: 15vh 15vw;
  }

  .small {
    margin: 16vh 20vw;
  }

  .big {
    margin: 12vh 5vw;
  }
}
